
.cust-nav{
    list-style-type: none;
height: 38px ;

}
.nav-color{
background-color: rgba(65, 199, 147, 1);

}

.nav-logo{

    float: left;
    height: 33px;
    padding: 7px 15px;
    font-size: 17px;
    line-height: 20px;

}
.user-name{
    float:right;
    padding-top: 8px;
    padding-right: 39px;
}
.side-pannel {
   position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

    width: 230px;

}
.menu-list {
    color: #737373;

    padding-right: 5px;
    padding-left: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
 }



.rcorners {
    border-radius: 25px;
    border: 2px solid rgba(120, 136, 201, 0.27);
    width: 954px;
    margin-top: 136px;
}
#home_heading{
padding-top:38px ;
}



#home-pannel-padding-down{

    padding-bottom: 90px;

}



.margin-left-btn
{
    left:1.5%;
}
#footer{
    background-color: #1f7e9a;
}


